from gvtest import *

# Called by gvtest to declare the tests
def testset_build(testset):

    testset.set_name('pulpos')

    testset.import_testset(file='examples/testset.cfg')
    testset.import_testset(file='tests/testset.cfg')

    if testset.get_target().get_name() not in ['pulp-open', 'snitch_testbench', 'spatz', 'spatz_v2', 'spatz_v3']:
        testset.import_testset(file='bench/testset.cfg')
