from gvtest.testsuite import *

def testset_build(testset):

    test = testset.new_gvrun_test('callback')

    # Bench while core is active
    test.add_bench(r'    \[active\] Cycles per interrupt: (\S+)', 'active.cycles_per_interrupt', 'Cycles/interrupt (active)')
    test.add_bench(r'    \[active\] Active cycles per interrupt: (\S+)', 'active.active_cycles_per_interrupt', 'Active cycles/interrupt (active)')
    test.add_bench(r'    \[active\] Instructions per interrupt: (\S+)', 'active.instructions_per_interrupt', 'Instructions/interrupt (active)')

    # Bench while core is idle/sleeping
    test.add_bench(r'    \[idle\] Cycles per interrupt: (\S+)', 'idle.cycles_per_interrupt', 'Cycles/interrupt (idle)')
    test.add_bench(r'    \[idle\] Active cycles per interrupt: (\S+)', 'idle.active_cycles_per_interrupt', 'Active cycles/interrupt (idle)')
    test.add_bench(r'    \[idle\] Instructions per interrupt: (\S+)', 'idle.instructions_per_interrupt', 'Instructions/interrupt (idle)')
