from gvtest import *

# Called by gvtest to declare the tests
def testset_build(testset):

    testset.set_name('examples')

    testset.import_testset(file='hello/testset.cfg')

    if testset.get_target().get_name() not in ['pulp-open', 'snitch_testbench']:
        testset.import_testset(file='kernel/testset.cfg')
